@import "format_root.css";
main {
    margin-top: 100px !important;
    width: 100vw;
}
.cafe-detail {
    height: 270px ;
    width: 270px;
}
.cafe-detail img {
    width: 100%;
}
.card {
    border: none !important;
}
.card img {
   box-shadow: 0px 0px 13px 0px #00000040;
}
.tab_title{
    font-weight: var(--weight-thick);
    margin-bottom: 30px;
}
.card-text{
    font-weight: var(--weight-thick);
    font-size: var(--size-large);
    margin-bottom: 5px;
}
.price{
    color: var(--text-gray);
    font-size: var(--size-medium);
}
.card-body{
    padding-left: 0;
    margin-bottom: 10px;
}