@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #d4d4d4;
}

header>nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

nav {
    width: 1140px;
    margin: 0 0 0 50px;
}

.tab {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

header a:hover {
    cursor: pointer;
    color: #e68938;
    transition: all 0.3s ease;
    text-decoration: underline;
}

main {}

footer {
    width: 100%;
    /* height: 250px; */
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    color: white;
    font-size: 12px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 100%;
    /* vertical-align: baseline; */
    display: block;
}

.row1 {
    /* margin-left: -15px;
  margin-right: -15px; */
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    justify-content: space-around;
}

.row2 {
    padding-left: 20px;
    font-size: 100%;
    /* vertical-align: baseline; */
}

#icon {
    width: 30px;
    height: auto;
}
.links {
    color: white;
}
.btn {
    cursor: pointer;
}