:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family */
  font-family: "Open Sans", sans-serif;

  /* font-weight */
  --weight-thin: 100;
  --weight-medium: 400;
  --weight-thick: 700;
  /* font-size */
  --size-small: 12px; /* nội dung footer*/
  --size-medium: 14px; /* những thứ còn lại */
  --size-large: 16px; /*Title nhỏ hơn*/
  --size-xlarge: 26px; /* Title */ 
  /* text-color */
  --text-white: #fff;
  --text-black: #000;
  --text-orange: #e57905;
  --text-gray: #00000099;
  /* background-color */
  --background-footer: #000000D9;
  --background-main: #fff;
  --background-header: rgba(255, 255, 255, 0.8); 
}
