@import "format_root.css";
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  background-color: var(--background-header);
  border: 1px solid #00000026;
}
header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
  padding: 10px;
}
nav {
  width: 1140px;
  margin: 0 0 0 50px;
}
.tab {
  color: var(--text-black);
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
}
.wrap {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header a:hover {
  cursor: pointer;
  color: var(--text-orange);
  transition: all 0.3s ease;
}

footer {
  width: 100vw;
  background-color: var(--background-footer);
  color: var(--text-white);
  font-size: var(--size-small);
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.container {
  width: 100%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.footer_linklists {
  padding: 0;
}
.row1 {
  font-size: 100%;
  display: flex;
  justify-content: space-around;
}
.row2 {
  font-size: 100%;
  padding-left: 30px;
}
#icon {
  width: 30px;
  height: auto;
}
.tch_social_links {
  display: flex;
  padding: 0;
}
.links {
  color: var(--text-white);
}

#myBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 101;
  padding: 0;
  border: none;
  border-radius: 50%;
}
#myBtn > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#hotline {
  position: fixed;
  bottom: 115px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 101;
  padding: 0;
  border: #ef9b15;
  background-color: #ef9b15;
    border-radius: 50%;
}
#hotline > img{
  width: 35px;
  height: 35px;
    border-radius: 50%;
}
.popup{
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -175px;
  top:50%;
  margin-top: -55px;
  padding: 15px;
  width: 350px;
  height: 110px;
  background-color: var(--background-main-white);
  border: 2px solid var(--text-orange);
  border-radius: 16px;
  z-index: 120;
  color: var(--text-orange);
  font-weight: var(--weight-thick);
  text-align: center;
  font-size: 18px;
}
#cancel, #call{
  color: var(--text-white);
  border: 1px solid var(--text-orange);
  border-radius: 4px;
  /* margin-top: 15px;  */
  background-color: var(--text-orange);
  margin: 20px 25px 0 25px;
  width: 80px;
  font-weight: var(--weight-medium);
  font-size: var(--size-large);
}
#cancel:hover, #call:hover{
  background-color: transparent;
  color: var(--text-orange);
}