@import "format_root.css";
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  background-color: var(--background-header);
  border: 1px solid #00000026;
}
header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
nav {
  width: 1140px;
  margin: 0 0 0 50px;
}
.tab {
  color: var(--text-black);
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
}
.wrap {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header a:hover {
  cursor: pointer;
  color: var(--text-orange);
  transition: all 0.3s ease;
  text-decoration: underline;
}

footer {
  width: 100vw;
  background-color: var(--background-footer);
  color: var(--text-white);
  font-size: var(--size-small);
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.container {
  width: 100%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.footer_linklists {
  padding: 0;
}

.row1 {
  font-size: 100%;
  display: flex;
  justify-content: space-around;
  
}
.row2 {
  font-size: 100%;
  padding-left: 30px;
 
}
#icon {
  width: 30px;
  height: auto;
}
.tch_social_links {
  display: flex;
  padding: 0;
}
.links {
  color: var(--text-white);
}

/* .btn-ontop {
    z-index: 1000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%;
} */

/* .btn {
  cursor: pointer;
} */
/* 
.btn.btn-ontop>i.icon-ontop {
    font-size: 60px;
    font-weight: 700;
} */
