@import "format_root.css";

#banner {
  margin-top: 50px;
}

main {
  width: 100vw;
  margin: 0 auto;
}

.section {
  height: auto;
  min-height: 600px;
  padding: 60px 0;
}

h2.title {
  font-size: var(--size-xlarge);
  text-align: center;
  color: var(--text-black);
}

.products-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
}

.product-item {
   width: calc(100% / 4);
  height: auto;
  border: 1px solid var(--text-white);
  box-shadow: var(--box-shadow-color) 0px 3px 8px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.product-img {
  width: 100%;
  margin: 0 auto;
}

.product-img > img {
  width: 220px;
  height: 220px;
  justify-content: center;
}

.product-content {
  margin: 0 auto;
  margin-top: 24px;
}

.product-content > h3 {
  font-size: var(--size-large);
  text-align: center;
}

.product-content > .product-price {
  color: var(--text-gray);
  text-align: center;
}

/* .product-content>.btn-addToCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 24px;
    text-align: center;
    background-color: rgb(0, 255, 255);
    transition: background-color 0.5s ease;
    width: 100%;
} */

/* .product-content>.btn-addToCard:hover {
    color: #fff;
    cursor: pointer;
    background-color: rgb(49, 154, 154);
} */


