@import "format_root.css";
#banner {
  width: 100vw;
  margin-top: 50px;
}

main {
  width: 100vw;
  margin: 0 auto;
}


.collection_menu_wrap{
  padding: 40px 0 50px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 100%;
}
row {
  margin-left: -15px;
  margin-right: -15px
} 
.row_border{
  position: reletive;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  float: left;
}
.block_item_title{
  color: var(--text-black);
  margin: 0;
}
h3{
 font-size: var(--size-xlarge); 
 font-weight: var(--weight-thick);
 color: var(--text-black);
}
.section_heading{
  float: none;
  display: inline-block;
  margin-bottom: 24px;
  position: relative;
  margin-top: 0;
  font-size: var(--size-xlarge);
}
.menu_list_collection{
  margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.menu_item{
  flex: 0 0 calc(25% - 30px);
  background: var(--background-main-white);
  margin: 0 15px 40px;
}
.menu_item_image{
  position: relative;
}
.menu_item .menu_item_image >a {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-shadow: 0px 0px 13px 0px #00000040;
}
a{
  text-decoration: none;
  color: #191919;
  transition: 0.5s;
}
.menu_item .menu_item_image >a >img{
  position: absolute;
  top: 0;
  left: 0;
}
.menu_item .menu_item_image img{
  width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}
.menu_item .labels{
  position: absolute;
  left: 14px;
  top: 12px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu_item > ul{
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
}
.menu_item .menu_item_info{
  padding: 12px 0 0;
  
}