@import "format_root.css";
#banner {
  width: 100vw;
  margin-top: 50px;
}

main {
  width: 100vw;
  margin: 0 auto;
}

.collection_menu_wrap {
  padding: 40px 0 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 100%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row_border {
  position: reletive;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  float: left;
}
.block_item_title {
  color: var(--text-black);
  margin: 0;
  text-align: center;
}
.block_item_loaded > h3 {
  font-size: var(--size-xlarge);
  font-weight: var(--weight-thick);
  color: var(--text-black);
}
.section_heading {
  float: none;
  display: inline-block;
  margin-bottom: 32px;
  position: relative;
  margin-top: 0;
  font-size: var(--size-xlarge);
}
.menu_list_collection {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.menu_item {
  flex: 0 0 calc(25% - 30px);
  background: var(--background-main-white);
  margin: 0 15px 40px;
}
.menu_item_image {
  position: relative;
}
.menu_item .menu_item_image .item_custom {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  /* padding-top: 100%; */
  position: relative;
  box-shadow: 0px 0px 13px 0px var(--box-shadow-color);
}
a {
  text-decoration: none;
  color: var(--text-black);
  transition: 0.5s;
  background-color: transparent;
}
.menu_item .menu_item_image > a > img {
  position: absolute;
  top: 0;
  left: 0;
}
.menu_item .menu_item_image img {
  width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}
.menu_item > ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  background: transparent;
}
.menu_item .menu_item_info {
  padding: 12px 0 0;
}
.menu_item .menu_item_info h3 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: var(--weight-thick);
  color: var(--text-black);
  font-size: var(--size-large);
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_item .price_product_item {
  font-size: var(--size-medium);
  color: var(--text-gray);
  margin-bottom: 10px;
}
.menu_list_collection .menu_banner {
  flex: 0 0 calc(50% - 30px);
  margin: 0 15px 40px 15px;
}
.menu_banner > a {
  display: block;
  padding-top: 65%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 16px 0px var(--box-shadow-color);
}
.menu_banner > a > img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: none;
  vertical-align: middle;
}
