@import "../format_root.css";

html .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--background-main-orange);
  --bs-btn-border-color: var(--background-main-orange);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--background-main-orange);
  --bs-btn-hover-border-color: var(--background-main-orange);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--background-main-orange);
  --bs-btn-active-border-color: var(--background-main-orange);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--background-main-orange);
  --bs-btn-disabled-border-color: var(--background-main-orange);
}

html .btn {
  width: 500px;
  height: 50px;
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
}

.btn:hover {
  background-color: transparent;
}
.btn:hover > a, img {
  color: #e57905;
}

.btn img {
  margin-right: 5px;
}
.detail-name {
  font-size: var(--size-xlarge);
  font-weight: var(--weight-thick);
  margin: 0px;
}
.detail-price {
  color: var(--background-main-orange);
  font-size: var(--size-xlarge);
  font-weight: var(--weight-thick);
}
html .card-img-top {
  width: 88%;
  border-radius: 8px;
}
main hr {
  border-top: 1px solid var(--text-gray);
  margin: 20px 100px 20px 75px;
}
.about-title, .related-product-title{
    font-weight: var(--weight-thick);
    font-size: 22px;
    margin-bottom: 20px;
}
.card-price{
  color: var(--text-gray);
  font-size: 14px;
  margin-top: 5px;
}
.card-name{
  font-weight: var(--weight-thick);
  font-size: var(--size-medium);
  margin-bottom: 0;
}
.card-body{
  padding-left: 0;
}
button a{
  text-decoration: none;
  color: var(--text-white);
}
