@import "format_root.css";
main {
  width: 100vw;
  margin: 0 auto;
}
.collection_menu_wrap {
  padding: 40px 0 0;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container_main {
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 100%;
  display: grid;
  grid-template-columns: 250px 30px auto;
}
.collection_menu_sidebar {
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
}
.collection_menu_sidebar a, .dropdown-btn{
    text-decoration: none;
    font-size: var(--size-large);
    color: var(--text-gray);
    display: block;
    border: none;
    background: none;
    width: 100%;
    padding: 6px 8px 6px 16px;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.collection_menu_sidebar a:hover,
.dropdown-btn:hover {
    color: var(--text-orange);
}
.active{
    color: var(--text-orange)!important;
    font-weight: var(--weight-thick);
}
.dropdown-container{
    display: none;
    padding-left: 10px;
}
.icon-dropdown{
    float: right;
    padding-right: 8px;
}
.collection_menu_list {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
}
.block_menu_item_loaded .block_menu_item_title {
  color: var(--text-black);
  margin: 0;
}
h3 {
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
  line-height: 1.4;
}

.block_menu_item_loaded .block_menu_item_title span {
  float: none;
  display: inline-block;
  margin-bottom: 24px;
}

.section_heading {
  position: relative;
  margin-top: 0;
  font-size: var(--size-xlarge);
}

.menu_lists {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.menu_item {
  background: transparent;
  flex: 0 0 calc(33.333% - 30px);
}

.menu_item .menu_item_image {
  position: relative;
}

.menu_item .menu_item_image > a {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-shadow: 0px 0px 13px 0px var(--box-shadow-color);
}
a {
  text-decoration: none;
  color: var(--text-black);
  transition: 0.5s;
  background-color: transparent;
}
.menu_item .menu_item_image > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  height: auto;
  vertical-align: middle;
}

.menu_item .labels {
  position: absolute;
  left: 14px;
  top: 12px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  margin-top: 0;
}

.menu_item .menu_item_info {
  padding: 12px 0 0;
}

.menu_item .menu_item_info h3 {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--text-black);
  font-size: var(--size-large);
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
}

.menu_item .price_product_item {
  font-size: var(--size-medium);
  color: var(--text-gray);
  margin-bottom: 10px;
}

.container_main  .hr{
    border-left: 2px solid var(--text-gray);
    width: 5px;    
    border-top: none;
    padding: none;
    margin: 0;
}