@import "format_root.css";
main {
  width: 100vw;
}
.article {
  top: 50px;
  position: relative;
  width: 70%;
  padding: 15px;
  margin: 30px auto 70px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  border: 1px solid var(--text-gray);
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: var(--background-main-orange);
  color: var(--text-white);
  padding: 10px;
  border: 1px solid var(--background-main-orange);
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
}
input[type="submit"]:hover {
  background-color: transparent;
  color: var(--text-orange);
}
.article .container {
  border-radius: 8px;
  background-color: var(--background-header);
  padding: 15px;
  border: 2px solid var(--background-main-orange);
}
label {
  font-size: var(--size-large);
  font-weight: var(--weight-thick);
  color: var(--text-orange);
}
h2 {
  margin-bottom: 20px;
}

